.parent{
    -fx-background-color: #FDFDFE;
}
.sidebar{
    -fx-background-color: #FFF8E6;
}
.close-btn{
    -fx-background-color: #FF6058;
    -fx-background-radius: 100%
}
.close-btn:hover{
    -fx-background-color: red;
    -fx-background-radius: 100%
}
.min-btn{
    -fx-background-color: #27CA41;
    -fx-background-radius: 100%
}
.min-btn:hover{
    -fx-background-color: green;
    -fx-background-radius: 100%
}
.max-btn{ 
    -fx-background-color: #FFC222;
    -fx-background-radius: 100%
}
.max-btn:hover{ 
    -fx-background-color: yellow;
    -fx-background-radius: 100%
}
.create-music-btn{
    -fx-background-color: #397DEF;
    -fx-background-radius: 10px;
}
.slidebar-btns{
    -fx-background-color: transparent;
    -fx-background-radius: 5px;
}

.button:clicked{
	-fx-background-radius: 5px;
	-fx-background-color: #511277;
	
}


#BAR{
	-fx-accent: #610587;
	-fx-background-color:black;
}
#vol_slider > .animated-thumb {
     -fx-background-color: #6500c5;
}

#vol_slider >.slider-value {
     -fx-fill: purple;
     -fx-stroke: white;
}

#vol_slider >.colored-track{
	-fx-background-color: #6500c5;
}

#vol_slider >.thumb{
	-fx-background-color: #6500c5;
}

#balance_slider >.thumb{
	-fx-background-color: #6500c5;
}
#balance_slider >.colored-track{
	-fx-background-color: #6500c5;
}

#balance_slider > .animated-thumb {
     -fx-background-color: transparent;
}